* {
    background-color: rgba(248, 248, 255, 0.301);

}

a {
    text-decoration: none;
    color: black;
}

.sidebar {
    background-color: #f1f6f933;
    padding: 10px 5px;
    height: 85vh;
    border-radius: 5px;
}

.side-link {
    background-color: #f1f6f933;
    /* border-bottom: 1px solid black; */
    display: block;
    padding-left: 10px;
}

.side-link:hover {
    background-color: rgb(147, 147, 226);
    color: white;
}

.posts {
    /* text-align: center; */
    /* background-color: white; */
}

.post {
    margin: 15px 55px;
    text-align: start;
}

.card-header {
    width: 100%;

}

.post .postTopic {
    float: left;
    height: 4vh;
    width: 12vw;
    color: black;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}


.post .footer {
    display: block;
    text-align: end;
    color: darkgoldenrod;
    font-size: small;
}

.active {
    background-color: rgba(147, 147, 226, 0.678);
    color: white;
}

.newPost {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.newPost h3 {
    text-align: center;
}

.error {
    width: inherit;
    color: red;
}