a {
    text-decoration: none;
    color: black;
}

.side-link {
    border-bottom: 1px solid black;
    display: block;
    padding-left: 10px;
}

.side-link:hover {
    background-color: azure;
    color: black;
}

.posts {
    text-align: center;
}

.post {
    margin: 15px 55px;
    text-align: start;
}

.card-header {
    width: 100%;

}

.post .postTopic {
    float: left;
    height: 5vh;
    width: 12vw;
    color: black;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15%;
}


.post .footer {
    display: block;
    text-align: end;
    color: darkgoldenrod;
    font-size: small;
}

.active {
    background-color: azure;
}