a {
    text-decoration: none;
    color: black;
}

.side-link {
    border-bottom: 0.5px solid black;
    display: block;
    padding-left: 10px;
}

.side-link:hover {
    background-color: azure;
    color: black;
}

.posts {
    text-align: center;
}

.active {
    background-color: azure;
}